<!DOCTYPE html>
<html>
    <head>
        <title>Colin Fletcher</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

        <!--STYLES-->
        <link type="text/css" rel="stylesheet" href="/linker/styles/bootstrap.min.css" />
        <link type="text/css" rel="stylesheet" href="/linker/styles/main.css" />
        <link type="text/css" rel="stylesheet" href="/linker/styles/font-awesome-ie7.css" />
        <link type="text/css" rel="stylesheet" href="/linker/styles/font-awesome.css" />
        <!--STYLES END-->

        <script src="/linker/js/fonts/squada-onen4.js"></script>
        <script src="/linker/js/fonts/bebas-neuen4.js"></script>
        <link rel="import" href="webcomponent/github-card.html">
    </head>

    <body>
        <div class="container">
            <div class="row content">
                <div class="col-lg-12">
                    <h4 class="intro-slogan css3-gradient">
                        It's me<br />
                        Colin
                    </h4>
                </div>

                <div class="col-lg-4 vcard">
                    <div class="vcard-wrap">
                        <div class="vcard-photo">
                            <img src="http://lorempixel.com/270/270/" />
                        </div>

                        <div class="vcard-bio">
                            <h2 class="vcard-name">Colin Fletcher</h2>

                            <hr />

                            <p>
                                Amet purus nunc diam enim rhoncus. Dolor. Ut,
                                elit, tempor auctor, integer porttitor cum
                                scelerisque? Sociis pulvinar nascetur! Dolor
                                platea! Phasellus adipiscing eu augue urna nunc
                                odio sed nec odio?
                            </p>

                            <hr />

                            <a class="btn btn-primary btn-block" href="https://github.com/cfletcher1856" target="_blank">
                                <i class="icon-github"></i> Github
                            </a>

                            <a class="btn btn-success btn-block" href="http://lnkd.in/bvKxY5B" target="_blank">
                                <i class="icon-linkedin-sign"></i> LinkedIn
                            </a>

                            <hr />

                            <span class="vcard-info">
                                <i class="icon-home"></i>Autsin TX, USA
                            </span><br />

                            <span class="vcard-info">
                                <i class="icon-signal"></i>(512) 814-8761
                            </span><br />

                            <span class="vcard-info">
                                <i class="icon-globe"></i><a href="#">http://www.colin-fletcher.com/</a>
                            </span><br />

                            <span class="vcard-info">
                                <i class="icon-envelope"></i><a href="mailto:example@example.com">cfletcher1856@gmail.com</a>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 main-wrap">
                    <div class="section section-work section-first row">
                        <h3 class="css3-gradient-2"><i class="icon-briefcase"></i>Work experience</h3>

                        <div class="section-work-list">
                            <div class="work-item">
                                <h4><i class="icon-wrench"></i>Protect America <small>Nov. 2011 — Present</small></h4>

                                Donec id elit non mi porta gravida at eget
                                metus. Fusce dapibus, tellus ac cursus
                                commodo, tortor mauris condimentum nibh, ut
                                fermentum massa justo sit amet risus. Etiam
                                porta sem malesuada magna mollis euismod.
                                Donec sed odio dui.
                            </div>

                            <div class="work-item">
                                <h4><i class="icon-cut"></i>Neopost <small>April, 2010 — Nov. 2011</small></h4>

                                Donec id elit non mi porta gravida at eget
                                metus. Fusce dapibus, tellus ac cursus
                                commodo, tortor mauris condimentum nibh, ut
                                fermentum massa justo sit amet risus. Etiam
                                porta sem malesuada magna mollis euismod.
                                Donec sed odio dui.
                            </div>
                        </div>

                        <div class="section-work-list">
                            <div class="work-item">
                                <h4><i class="icon-github"></i>Wildwood Interactive <small>Aug. 2006 – April, 2010</small></h4>

                                    Donec id elit non mi porta gravida at eget
                                    metus. Fusce dapibus, tellus ac cursus commodo,
                                    tortor mauris condimentum nibh, ut fermentum
                                    massa justo sit amet risus. Etiam porta sem
                                    malesuada magna mollis euismod. Donec sed odio
                                    dui.

                            </div>
                        </div>
                    </div>

                    <div class="section section-portfolio row">
                        <h3 class="css3-gradient-2"><i class="icon-tint"></i>Portfolio</h3>
                        <div class="section-portfolio-row-wrap">
                            <div class="portfolio-item-thumbnail col-lg-6">
                                <div class="portfolio-item-thumbnail-wrap">
                                    <a href="http://www.austinspremierleague.com" target="_blank"><img src="/images/apl.png"></a>
                                </div>
                            </div>
                            <div class="portfolio-item-thumbnail col-lg-6">
                                <div class="portfolio-item-thumbnail-wrap">
                                    <a href="http://www.theccedu.org" target="_blank"><img src="/images/theccedu.png"></a>
                                </div>
                            </div>
                        </div>

                        <div class="section-portfolio-row-wrap">
                            <div class="portfolio-item-thumbnail col-lg-6">
                                <div class="portfolio-item-thumbnail-wrap">
                                    <a href="http://organicsteam.com/" target="_blank"><img src="/images/organic.png"></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="section section-education row">
                        <h3 class="css3-gradient-2"><i class="icon-book"></i>Education</h3>
                        <div class="section-education-list">
                            <div class="education-item">
                                <h4><i class="icon-circle-arrow-right"></i>Radford University <small>2000 — 2004</small></h4>
                                Major: Bachelor of Science, <strong>Information Science and Systems</strong><br />
                                Minors: <strong>Business Administration</strong> and <strong>Management</strong>
                            </div>

                            <div class="education-item">
                                <h4><i class="icon-circle-arrow-right"></i>Agile University CSM (Certified ScrumMaster) <small>2011</small></h4>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="clearfix"></div>
                <div class="col-lg-12 footer">
                    <div class="row">
                        <p><small>powered by <a href="http://www.sailsjs.org" target="_blank">Sails.js</a>, <a href="http://getbootstrap.com/" target="_blank">twitter bootstrap 3.0</a>, <a href="http://bootswatch.com/flatly/" target="_blank">flatly</a>, and <a href="http://fortawesome.github.io/Font-Awesome/" target="_blank">font awesome</a></small></p>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="/js/socket.io.js"></script>
        <script type="text/javascript" src="/js/sails.io.js"></script>
        <script type="text/javascript" src="/js/app.js"></script>
        <!--SCRIPTS-->
        <script type="text/javascript" src="/linker/js/jquery.min.js"></script>
        <script type="text/javascript" src="/linker/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/linker/js/fonts/bebas-neuen4.js"></script>
        <script type="text/javascript" src="/linker/js/fonts/squada-onen4.js"></script>
        <!--SCRIPTS END-->
    </body>
</html>
